* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'playWrite';
    src: url('fonts/static/PlaywriteAUSA-Regular.ttf'), ;
}


body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

input,
button {
    outline: none;
}

input {
    width: 100%;
    padding-left: 10px;
}

.allInput {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    padding-right: 0;
    transition: .25s;
}

.allInput:focus-within {
    box-shadow: 0px 0px 1px lightgray;
}

button {
    padding: 10px 15px;
    outline: none;
}

#cityTemp,
#cityWindSpeed,
#cityWindDeggre,
#cityWeatherStatus {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

#cityElem {
    font-family: 'playWrite';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
    padding: 35px;
    opacity: 0;
    transition: .25s;
    max-width: 700px;
    box-shadow: 0px 0px 1px lightgray;
    background: transparent;
    backdrop-filter: blur(8px);
}

#cityName {
    padding: 10px;
}

.cityInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
}

svg {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

@media screen and (max-width:300px) {
    body h1 {
        font-size: 2rem;
    }
}

.text-muted{
    text-shadow: 1px 1px black;
}